:root {
	--color-brand: #ffa50a;
	--color-white: white;

	--color-background: hsl(38deg, 20%, 95%);
	--color-foreground: hsl(38deg, 20%, 5%);

	--color-background-dark: hsl(38deg 5% 10%);
	--color-foreground-dark: hsl(38deg, 5%, 75%);
}